a {
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: #ede7e3;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

code {
  background-color: #bfd0b3;
  font-size: 1.1em;
  padding: 0 2px;
}

dt {
  background-color: #bfd0b3;
  font-family: monospace;
  font-size: 1.1em;
  font-style: italic;
  padding: 0 2px;
}

dt:not(:first-of-type) {
  margin-top: 20px;
}

figure {
  margin: 50px 0;
}

figure>img {
  max-width: 800px !important;
}

h1 {
  color: #ede7e3;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: 600;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.65rem;
}

h4 {
  font-size: 1.3rem;
  margin: 0 0 15px 0;
}

header {
  background-color: #556f44;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

img {
  max-width: 400px;
}

ol {
  background-color: #ede7e3;
  border-radius: 5px;
  padding: 10px 25px;
  width: fit-content;
}

p {
  line-height: 1.5em;
}

section {
  background-color: #94b181;
  border-radius: 5px;
  margin: 30px 50px;
  padding: 10px 20px;
}

section>dl dt {
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 4px;
}

section>dl>dd dt {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1.5px solid white;
  display: inline-block;
}

section dl dl {
  margin-left: 30px;
}

section dl>dd {
  display: inline;
  margin: 0;
}

section dl ul {
  margin: 10px 0 5px 0;
}

section dl ul>li {
  margin: 5px 0;
}

.css-example {
  list-style: none;
  counter-reset: steps;
  padding: 0 !important;
}

.code-example {
  background-color: #EDE7E3;
  padding: 5px 10px;
  border-radius: 2px;
}

.code-example-pre {
  /* background-color: #bfd0b3; */
  background-color: #ede7e3;
  border-radius: 5px;
  color: #2c2c2c;
  display: inline-block;
  padding: 0px 15px;
}

.interactive-example {
  background-color: #ede7e3;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
}

.outline {
  list-style: none;
  counter-reset: count;
}

.outline li:before {
  content: counters(count, ".") ". ";
}

.outline li {
  counter-increment: count;
}

#colored-numbers li::before {
  background: #ff6f00;
  border-radius: 50%;
  color: white;
  content: counter(steps);
  display: inline-grid;
  height: 1.2em;
  line-height: 1.2em;
  margin-right: 0.5rem;
  place-items: center;
  width: 1.2em;
}

#colored-numbers li {
  counter-increment: steps;
}

#colored-numbers ol li::before {
  background: darkorchid;
}

#googleButton,
#googleLink {
  align-items: center;
  background-color: lightblue;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: black;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  height: 50px;
  justify-content: center;
  text-decoration: none;
  margin: 10px 0;
  padding: 5px;
  transition: 0.2s ease all;
  width: 200px;
}

#googleButton:hover,
#googleLink:hover {
  background-color: rgb(9, 42, 53);
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease all;
}

#type {
  display: grid;
  grid-template-areas:
    ' p p p p '
    ' ol1 ol2 ol3 ol4';
}

@media only screen and (max-width: 850px) {
  #type {
    column-gap: 30px;
    grid-template-areas:
      'p p'
      'ol1 ol2'
      'ol3 ol4';
  }
}