body {
	background-color: #ede7e3;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	color: #ede7e3;
	font-weight: unset;
	margin: 0;
	padding: 0;
}

h2 {
	font-weight: unset;
}

header {
	background-color: #556f44;
	margin: 0;
	padding: 20px 0;
	text-align: center;
}

section {
	background-color: #94b181;
	border-radius: 5px;
	margin: 30px 50px;
	padding: 10px 20px;
}

code {
	background-color: #bfd0b3;
	font-size: 1.1em;
	font-weight: bold;
	padding: 0px 2px;
}

dl {
	background-color: #ede7e3;
	border-radius: 5px;
	width: fit-content;
	padding: 10px 25px;
}

#css-list {
	display: grid;
	grid-template-areas:
		'term1 def1'
		'empty alt1'
		'empty alt2'
		'term2 def2'
		'term3 def3';
	grid-template-columns: 1fr 4fr;
  row-gap: 10px;
  width: 400px;
}

#css-list dt::after {
	content: ':';
}

@media only screen and (max-width: 800px){
  #css-list{
    width: 50vw;
  }
}
